#cloud-config
{% if password is defined %}
password: {{ password }}
chpasswd: { expire: False }
ssh_pwauth: True
{% endif %}

{% if ssh_keys is defined %}
ssh_authorized_keys:
{% for key in ssh_keys %}
  - {{ key }}
{% endfor %}
{% endif %}

runcmd:
  - echo "Provisioned at `date +'%Y-%m-%d %H:%M:%S'`"
{% if force_static_ipv4 %}}
  - ifconfig ens192 {{ static_ipv4 }}/{{ netmask }}
{% endif %}}
{% if runcmd is defined %}}
{% for cmd in runcmd %}}
  - {{ cmd }}
{% endfor %}
{% endif %}
